<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Confirme sua conta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div style="margin: 0;padding: 0;font-family: 'Space Grotesk', sans-serif;background-color: #fff;">
            <div style="width: 100%;max-width: 600px;margin: 0 auto;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <img src="https://s3-sa-east-1.amazonaws.com/inspira-bucket/email-template/header1.png" alt="Header" title="Header" style="display:block" width="600" height="90">
                <img src="https://s3-sa-east-1.amazonaws.com/inspira-bucket/email-template/mail-icon1.png" alt="IconeEmail" title="MailIcon" style="display:block;padding-top: 25px;" width="60" height="71"> 
                <p style="color: #3C22E8;font-weight: bold;font-size: 18px;padding-top: 15px;">Confirme seu e-mail</p>
                <p style="color: #000;font-size: 13px;padding-top: 5px;text-align: center;">Falta pouco para você<br>participar do Inspira Design!</p>
                <p style="color: #000;font-size: 13px;padding-top: 5px;text-align: center;">Agora precisamos que você<br>clique no botão abaixo para que o seu<br>endereço de e-mail seja verificado.</p>
                <%= link_to(confirmation_url(@resource, confirmation_token: @token), class: "confirmation-link") do %> 
                    <img src="https://s3-sa-east-1.amazonaws.com/inspira-bucket/email-template/confirmation-btn1.png" alt="VerifiqueSeuEmail" title="EmailConfirmation" style="display:block" width="100%" height="auto">
                <% end %>
            </div>
        </div>
    </body>
</html>