<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Confirme sua conta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div style="margin: 0;padding: 0;font-family: sans-serif;background-color: #fff;">
            <div style="width: 100%;max-width: 600px;margin: 0 auto;text-align:center;">
                <p style="color: #3C22E8;font-weight: bold;font-size: 22px;margin-bottom: 15px;margin-top:12px;">Confirme seu e-mail</p>
                <p style="color: #000;font-size: 16px;margin-top: 0px;text-align: center;">Falta pouco para você<br>participar do Inspira Design!</p>
                <p style="color: #000;font-size: 16px;margin-top: 0px;text-align: center;">Agora precisamos que você<br>clique no botão abaixo para que o seu<br>endereço de e-mail seja verificado.</p>
                <button style="width: 40%;height: auto;background: #00B586;border-radius: 85px;overflow: hidden;border: 1px #00B586 solid;">
                    <%= link_to("Verifique seu e-mail", confirmation_url(@resource, confirmation_token: @token), style: "display: block;color: #fff;font-family:sans-serif;width:100%;padding-bottom:12px;padding-top:12px;height:100%;font-size:20px;line-height:24px;text-decoration:none;word-wrap:break-word;") %> 
                </button>
            </div>
        </div>
    </body>
</html>